<style>
  button {
  background-color: blue;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  border-radius: 50px;
  color: white;
  font-size: 2.0rem;
  postion: absolute;
  top: 50%;
}
h1 {
  font-family: "Roboto";
  font-size: 4.0rem;
  }
.footerWrap {
  width:100%;
  position:fixed;
  bottom: 0px;
}
.footer {
  width:100%;
  margin:auto;
}
.footerContent {
    width:100%;
    padding:0 0;
}
.footer h3 {font-family: "Roboto"; width:100%; text-align:center; font-size: 1.0rem; }
a {text-decoration: none; }
</style>